extends layout

block content								
	h1.link
		a(target='_new' href='https://btg.cryptopros.us') Bitcoin Gold Pools 
			div
			img(src='https://btg.cryptopros.us/static/cryptopros.png', height='36px', style='margin-top: 10px;')

	h2 Tips: Don't share your private keys or seeds to any service that you don't fully trust.
	table.sortable.container#btg-table
		thead
			tr.header
				th Pool
				th Miners
				th Hashrate
				th Fee
				th Blocks
				th Last Block
				th Last Block Mined
				th Status
				tbody
				if (pools.length)
				for pool in pools
					tr(class=pool.name)
						td.link
							a(target='_new' href=pool.url) 
								b=pool.name
						if pool.miners == "0"
							td.pool-alert #{pool.miners}
						else
							td=pool.miners
						td(sorttable_customkey=pool.hashnum data-th="Hashrate") #{pool.hash} 
						if pool.fee == "0%"
							td.pool-success #{pool.fee}
						else
							td #{pool.fee}
						td=pool.blocks
						td=pool.netblocks
						if pool.netblocks == pool.mined
							td.pool-success #{pool.mined}
						else
							td= pool.mined
						if pool.status == "Live" 
							td.pool-success #{pool.status}
						else
							td Blocked/Dead

	footer
		h3 This site is powered by the open source 
			a(target='_blank', href='https://github.com/litwi1rm/pool-list') pool-list
			span  project created by Ryan and the BTG Community
			div
			br
			on Please Contact Ryan or what the cuss in the BTG Slack for any needed updates
			br
			br
			on Last Block Mined is WIP and not accurate, Python wizards needed!
